@model Post

<div>
    <table>
        <tr><td> @Model.Author</td><td>@Model.Date</td></tr>
        <tr><td>@Model.Title</td></tr>
        <tr><td>@Model.Text</td></tr>
        <tr>
            <td>
                <p>Let's start discussing...</p>
                <p></p>
                @*//TODO: change controller name to Comment
                *@
                @using (Html.BeginForm("AddComment", "User", FormMethod.Post))
                {
                    @Html.TextBox("commentText", "", htmlAttributes: true)
                    <input type="hidden" id="postID" name="postID" value=@Model.ID />
                    <button type="submit">Comment</button>
                }
                <hr class="hr1">
                @if (Model.Comments.Count() != 0)
                {
            <tr><td>@Html.Partial("~/Views/User/_PostComment.cshtml", Model.Comments)</td> </tr>
                }
    </table>
</div>
