@model List<CommentWithLevel>

<div>
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div style="margin-left: @((item.Level + 1) * 20)px">
                        <p>
                            @Html.ActionLink("Delete comment", "DeleteComment", "User", new{postID = item.Comment.Post.ID,commentID = item.Comment.ID})
                        </p>
                        <p> @item.Comment.Author @item.Comment.Date.Day/ @item.Comment.Date.Month/ @item.Comment.Date.Year </p>
                        <p> @item.Comment.Text</p>
                        @using (Html.BeginForm("AddComment", "User", FormMethod.Post))
                        {
                            @Html.TextBox("commentText", "", htmlAttributes: true)
                            <input type="hidden" id="postID" name="postID" value=@item.Comment.Post.ID />
                            <input type="hidden" id="parentID" name="parentID" value=@item.Comment.ID />
                            <button type="submit">Comment</button>
                        }
                        <hr class="hr1">
                    </div>
                </td>
            </tr>
        }
    </table>
</div>