@model User

<table>
    <tr><td><h5><em>Previous posts:</em></h5></td></tr>
    <tr>
        <td>
            @if (Model.Posts!=null&&Model.Posts.Count > 0)
            {
                @foreach (var item in Model.Posts)
                {
                    <table>
                        <tr><td>@item.Author.FirstName @item.Author.SecondName @item.Date.Day/@item.Date.Month/@item.Date.Year</td></tr>
                        <tr><td>@item.Title</td></tr>

                        @if (item.Text.Count() > 500)
                        {
                            <tr><td>@item.Text.Substring(0,500) @Html.ActionLink("view more","ViewPostAndComments", "User", new {postID=item.ID}, new {target="_blank"})</td></tr>
                        }
                        else
                        {
                            <tr><td>@item.Text @Html.ActionLink("view more","ViewPostAndComments","User", new {postID=item.ID}, new {target="_blank"})</td></tr>
                        }
                    </table>
                    <hr class="hr1">
                }
            }
            else
            {
                <p>Here's nothing to show you. Write a post at first...</p>
            }
        </td>
    </tr>
</table>