@model List<Post>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table>
        <tr><td><img src="~/Images/Started.jpg" asp-append-version="true" /></td><td><h1> @ViewBag.UserName</h1></td></tr>
        <tr>
            <td></td>
            <td>
                @using (Html.BeginForm("AddPost", "User", FormMethod.Post))
                {
                    <table>
                        <tr><td><h5><em>Create a new post:</em></h5></td></tr>
                        <tr><td>Title:  @Html.TextBox("title", "", htmlAttributes: true)</td></tr>
                        <tr><td> @Html.TextArea("postText", "", rows: 8, columns: 40, htmlAttributes: true)</td></tr>
                        <tr><td><button type="submit">Save</button></td></tr>
                    </table>
                }
            </td>
        </tr>
        <tr><td><h5><em>Previous posts:</em></h5></td></tr>
        <tr>
            <td>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <p>@item.Author.FirstName @item.Author.SecondName @item.Date.Day/@item.Date.Month/@item.Date.Year </p>
                        <p>@item.Title</p>
                        <p>@item.Text</p>@using (Html.BeginForm("AddComment", "User", FormMethod.Post))
                        {
                            @Html.TextBox("commentText", "", htmlAttributes: true)
                            <input type="hidden" name="post" value="item" />
                            <button type="submit">Comment</button>
                        }
                    }
                }
                else
                {
                    <p>Here's nothing to show you. Write a post at first...</p>
                }
            </td>
        </tr>
    </table>
</div>