@model Post

<div>
    <table>
        <tr><td> @Model.Author</td><td>@Model.Date</td></tr>
        <tr><td>@Model.Title</td></tr>
        <tr><td>@Model.Text</td></tr>
        <tr><td>
        <tr><td>@await Html.PartialAsync("_PostComment", Model.Comments)</td> </tr>
        <tr>
            <td>
                        @using (Html.BeginForm("AddComment", "User", FormMethod.Post))
                        {
                            @Html.TextBox("commentText", "", htmlAttributes: true)
                            <input type="hidden" id="postID" name="postID" value=@Model.ID />
                            <button type="submit">Comment</button>
                        }
            </td>
        </tr>
    </table>
</div>
