@* @addTagHelper *, BlogMvcCore*@
@model List<CommentWithLevel>
@*
<div >
    <table>
        <hierarchical-comment comment-list="@Model"></hierarchical-comment>
    </table>
</div>
*@

<div>
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div style="margin-left: @((item.Level + 1) * 20)px">
                        <a asp-action="DeleteComment" asp-controller="Comment" asp-route-postID=@item.Comment.Post.ID asp-route-commentID=@item.Comment.ID>
                            Delete
                        </a>
                        <a asp-action="EditComment" asp-controller="Comment" asp-route-commentID=@item.Comment.ID asp-route-text=@item.Comment.Text asp-route-postID=@item.Comment.Post.ID target="_blank">
                            Edit
                        </a>
                        <table>
                            <tr>
                                <td>
                                    @item.Comment.Author @item.Comment.Date.Day/ @item.Comment.Date.Month/ @item.Comment.Date.Year
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @item.Comment.Text
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <form method="post" asp-action="AddComment" asp-controller="Comment" asp-route-postID=@item.Comment.Post.ID asp-route-parentID=@item.Comment.ID>
                                        <input type="text" id="commentText" name="commentText" />
                                        <button type="submit">Submit</button>
                                    </form>
                                </td>
                            </tr>
                        </table>
                        <hr class="hr1">
                    </div>
                </td>
            </tr>
        }
    </table>
</div>